<div class="card mb-3">
  <h2 class="card-header h4">
    Track #<%= track.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <dd><%= track.name %></dd>

      <dt>Image</dt>
      <dd><%= track.image %></dd>

      <dt>Album name</dt>
      <dd><%= track.album_name %></dd>

      <dt>Url</dt>
      <dd><%= track.url %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back track, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_track_url(track), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to track, method: :delete, data: { confirm: "Do you really want to delete this track?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(track.updated_at) %> ago
  </div>
</div>
