<div class="card mb-3 mt-3">
  <div class="card-header d-flex justify-content-between">
    <h2 class="h4">
      <%= group.name %>
    </h2>

    <% if current_user.owns_group?(group) %>
      <div class="d-flex justify-content-between">
        <%= link_to edit_group_url(group), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to group, method: :delete, data: { confirm: "Do you really want to delete this group?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="card-body">
    <div class="h5">Members:</div>
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to group.user.username, "##{group.user.username}", class: "text-decoration-none" %>
        <i class="fa-solid fa-crown ml-5"></i>
      </li>
      <% group.members.each do |member| %>
        <li class="list-group-item">
          <%= link_to member.username, "##{member.username}", class: "text-decoration-none"  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<hr>
<h2 id="<%= group.user.username %>">
  <%= group.user.username %>
</h2>
<h4>most listened to songs in past week</h4>
<ul class="list-group list-group-flush">
  <% top_weekly_track_names = group.user.logs.joins(:track).where(played_at: 1.week.ago..).limit(3).top(:name) %>
  <%= render partial: "logs/list_item_top", locals: {user: group.user}, collection: top_weekly_track_names, as: :log %>
</ul>
<hr>
<% group.members.each do |member| %>
<h2 id="<%= member.username %>">
  <%= member.username %>
</h2>
  <h4>most listened to songs in past week</h4>
  <ul class="list-group list-group-flush">
    <% top_weekly_track_names = member.logs.joins(:track).where(played_at: 1.week.ago..).limit(3).top(:name) %>
    <%= render partial: "logs/list_item_top", locals: {user: member}, collection: top_weekly_track_names, as: :log %>
  </ul>
<% end %>
