<div class="row">
  <div class="col-md-6">
    <h3>Most listened to:</h3>
    <ul class="list-group list-group-flush">
      <% top_weekly_track_names = @recently_played_logs.top(:name) %>
      <%= render partial: "logs/list_item_top", locals: {user: current_user}, collection: top_weekly_track_names, as: :log %>
      <%= paginate @recently_played_logs, remote: true, theme: 'bootstrap-5' %>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Monthly activity</h3>
    <%= line_chart current_user.logs.where(played_at: 1.month.ago..).group_by_day(:played_at).count %>
    <h3>Groups</h3>
    <div class="list-group mb-4">
      <% current_user.groups.each do |group| %>
        <%= link_to group, class: "list-group-item list-group-item-action d-flex justify-content-between" do %>
          <%= group.name %>
          <span><%= group.members.count %> members</span>
        <% end %>
      <% end %>
    </div>
    <h5>Create a Group</h5>
    <%= render "groups/form", group: current_user.groups.build %>
  </div>
</div>
