<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= current_user&.username %>
<%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %>

<hr>

<% if current_user %>
  <h2>
    Logs <%= @recently_played.count %>
  </h2>
  <ul>
    <% @recently_played.order(played_at: :desc ).each do |log| %>
      <li>
        <%= log.track.name %>
        <%= log.track.album_name %>
        <%= link_to log.track.url %>
        <%= image_tag log.track.image %>
        <%= log.played_at.in_time_zone("Central Time (US & Canada)").strftime("%D %r") %>
      </li>
    <% end %>
  </ul>
<% end %>
