<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= current_user&.username %>
<%= form_with url: "/auth/spotify", method: :post do |form| %>
  <%= form.submit "Sign in with Spotify" %>
<% end %>


<hr>

<% if current_user %>
  <%= line_chart current_user.logs.group_by_day(:played_at).count %>
  <hr>
  <h2>
    Logs <%= @recently_played.count %>
  </h2>
  <ul class="list-group list-group-flush">
    <% @recently_played.order(played_at: :desc ).each do |log| %>
      <li class="list-group-item">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <%= image_tag log.track.image, width: 150 %>
          </div>
          <div class="flex-grow-1 ms-3">
            <div class="display-6">
              <%= log.track.name %>
            </div>
            <small>
              <%= log.track.album_name %>
            </small>
            <br>
            <%= link_to log.track.url %>
            <p>
              Played at: <%= log.played_at.in_time_zone("Central Time (US & Canada)").strftime("%D %r") %>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
