<li class="list-group-item">
  <div class="d-flex">
    <div class="flex-shrink-0">
      <%= image_tag log.track.image, width: 150 %>
    </div>
    <div class="flex-grow-1 ms-3">
      <div class="display-6">
        <%= log.track.name %>
      </div>
      <small>
        <%= log.track.album_name %>
      </small>
      <br>
      <%= link_to log.track.url %>
      <p>
        Played at: <%= log.played_at.in_time_zone("Central Time (US & Canada)").strftime("%D %r") %>
      </p>
    </div>
  </div>
</li>
