<li class="list-group-item">
  <% track = Track.find_by(name: log[0]) %>
  <div class="d-flex">
    <div class="flex-shrink-0">
      <%= image_tag track.image, width: 150 %>
    </div>
    <div class="flex-grow-1 ms-3">
      <div class="display-6">
        <%= track.name %>
      </div>
      <small>
        <%= track.album_name %>
      </small>
      <br>
      <%= link_to track.url %>
      <p>
        <ul>
        Played <%= log[-1] %> <%= 'time'.pluralize(log[-1]) %>: 
        <% user.logs.where(track: track).pluck(:played_at).each do |t| %>
        <li>
          at <%= t.in_time_zone("Central Time (US & Canada)").strftime("%D %r") %>
        </li>
        <% end %>
        </ul>
      </p>
    </div>
  </div>
</li>
