<!DOCTYPE html>
<html>
  <head>
    <title>Group Spotify Discover</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
  </head>

  <body class="container">
    <%= render "layouts/navbar" %>
    <p class="notice <%= "d-none" if notice.blank? %>"><%= notice %></p>
    <p class="alert <%= "d-none" if alert.blank? %>"><%= alert %></p>
    <%= yield %>
  </body>
</html>
